<%- include('../Partials/Header')%>
  <div class="container mt-4">
    <div class="d-flex justify-content-between  align-items-center flex-wrap  ">
      <% movies.forEach((movie)=> { console.log(movie); %>
        <div class="col-3">
          <div class="flip-card ">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="/<%= movie.file %>" class="card-img-top" alt="...">
              </div>
              <div class="flip-card-back p-3 ">
                <p class="title fs-1 text-start ">
                  <%= movie.name %>
                </p>
                <p>
                  <% const publishDate=new Date(movie.year); const day=publishDate.getDate().toString().padStart(2, '0'
                    ); const month=(publishDate.getMonth() + 1).toString().padStart(2, '0' ); // Month is zero-based
                    const year=publishDate.getFullYear(); const formattedPublishDate=`${day}/${month}/${year}`; %>
                    <%= formattedPublishDate %>
                </p>
                <div class="d-flex">
                  <p>
                    <%= movie.genre %>
                  </p>
                  <p>
                    <%= movie.rating %>
                  </p>
                </div>
                <p class="lh-sm mt-3">
                  <%= movie.description %>
                </p>
              </div>
            </div>
          </div>
        </div>


        <% }) %>
    </div>
  </div>


  <%- include('../Partials/Footer')%>